<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <main>
      <form
        class="login-form"
        action="http://localhost:3000/signup"
        method="POST"
      >
        <div class="form-control">
          <label for="userName">User Name</label>
          <input type="text" name="userName" id="userName" />
        </div>
        <div class="form-control">
          <label for="email">E-Mail</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <div class="form-control">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" />
        </div>
        <button class="btn" type="submit">Signup</button>
      </form>
    </main>
  </body>
</html>
